# Node.js dependencies
node_modules/

# Test results
test-results/

# IDE files
.vscode/

# Lock file
package-lock.json

# Output screen recordings
AddToCartOutputScreenrecord.mp4
ApiOutputScreenrecord.mp4
